.about-us {
  padding-top: 100px;
}

.about-us__container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.about-us__title {
  margin-bottom: 46px;
}

.about-us__text {
  font-size: 20px;
  font-weight: 400;
  line-height: calc(28/20);
}

.about-us__img {
  float: left;
  max-width: 600px;
  max-height: 596px;
  margin-right: 80px;
}

.about-us__container {
  margin-bottom: 57px;
}

.quote {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0;
}

.quote__text {
  position: relative;
  padding-left: 31px;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.136;
  white-space: pre-line;
  text-transform: uppercase;
}

.quote__text::before {
  content: '“';
  position: absolute;
  top: -8px;
  left: 0;
  color: var(--purple-color, #6c0287);
  font-weight: 900;
} 

.quote__text::after {
  content: '”';
  position: absolute;
  padding-left: 10px;
  color: var(--purple-color, #6c0287);
  font-weight: 900;
}

.quote__caption {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

.quote__caption::before {
  content: '';
  width: 80px;
  height: 80px;
  background-image: url('../img/boss.jpg');
  background-repeat:  no-repeat;
  background-size: cover;
  background-position: 0 -10px;
  border-radius: 50%;
}

.caption {
  flex-basis: 279px;
  font-style: normal;
}
