.advantage__title {
  padding: 0 100px;
  margin-bottom: 41px;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.advantage__item {
  flex-basis: 380px;
}

.advantage__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.figure {
  position: relative;
}

.figure__caption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 40px;
  padding-bottom: 20px;
  max-width: 340px;
  max-height: 40px;

}