.advantage__title {
  padding: 0 100px;
  margin-bottom: 40px;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}

.advantage__item {
  display: flex;
  flex-basis: 380px;
  padding: 166px 40px 6px;
  transition: transform 0.3s ease-in-out;
}

.advantage__item:hover {
  transform: scale(1.1);
}

.advantage__text {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.advantage__item_vr {
  background-image: url('../img/vr.jpg');
}

.advantage__item_audio {
  background-image: url('../img/audio.jpg');
}

.advantage__item_micro {
  background-image: url('../img/micro.jpg');
}

.advantage__item_game {
  background-image: url('../img/game.jpg');
}

.advantage__item_netflix {
  background-image: url('../img/netflix.jpg');
}

.advantage__item_sony {
  background-image: url('../img/sony.jpg');
}
