.advantage {
  padding-top: 50px;
}

.advantage__title {
  padding: 0 46px 0 40px;
  margin-bottom: 43px;
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
  padding-bottom: var(--padding-bottom);
}

.advantage__item {
  display: flex;
  flex-basis: 380px;
  flex-grow: 1;
  padding: 166px 40px 6px;
  transition: transform 0.3s ease-in-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}

.advantage__item:nth-child(3n-1) {
  transform: translateY(var(--padding-bottom));
}

.advantage__item:hover {
  transform: scale(1.1);
  transition: transform 0.5s ease-in-out;
}

.advantage__item:nth-child(3n-1):hover{
  transform: scale(1.1) translateY(var(--padding-bottom));
  transition: transform 0.5s ease-in-out;
}

.advantage__text {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(28/20);
  color: var(--main-color, #ffffff);
}

.advantage__item_vr {
  background-image: url('../img/vr.jpg');
}

.advantage__item_audio {
  background-image: url('../img/audio.jpg');
}

.advantage__item_micro {
  background-image: url('../img/micro.jpg');
}

.advantage__item_game {
  background-image: url('../img/game.jpg');
}

.advantage__item_netflix {
  background-image: url('../img/netflix.jpg');
}

.advantage__item_sony {
  background-image: url('../img/sony.jpg');
}

@media (max-width: 1240px) {
  .advantage {
    padding-top: 41px;
    padding-bottom: 35px;
  }

  .advantage__title {
    padding: 0 46px 0 40px;
    margin-bottom: 36px;
  }

  .advantage__list {
    gap: 30px 20px;
  }
  
  .advantage__item {
    flex-basis:  247px;
    padding: 114px 20px 2px;
  }

  .advantage__item_netflix {
    padding-top: 83px;
    padding-bottom: 5px;
  }
  
  .advantage__item:nth-child(3n-1) {
    transform: translateY(var(--padding-bottom));
  }
  
}

@media (max-width: 900px) {
  .advantage {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  .advantage__title {
    margin-bottom: 30px;
    padding-left: 7px;
    padding-right: 10px;
  }

  .advantage__list {
    gap: 20px;
  }
  
  .advantage__item {
    align-items: flex-end;
    width: 334px;
    height: 200px;
    flex-basis:  220px;
    padding: 40px 30px;
    background-size: cover;
  }

  .advantage__item:nth-child(3n-1) {
    padding-bottom: 12px;
  }
}

@media (max-width: 600px) {
  .advantage {
    padding-top: 23px;
    padding-bottom: 15px;
  }

  .advantage__title {
    margin-bottom: 15px;
  }

  .advantage__list {
    gap: 10px;
  }
  
  .advantage__item {
    align-items: flex-start;
    height: 75px;
    flex-basis:  135px;
    padding: 30px 15px 3px 10px;
    background-size: 100% 100%;
  }

  .advantage__item:nth-child(3n-1) {
    padding-bottom: 3px;
  }

  .advantage__text {
    font-weight: 700;
    font-size: 10px;
    line-height: calc(14/10);
    color: var(--main-color, #ffffff);
  }
}
