.booking__title {
  margin-bottom: 50px;
}

.group-container {
  display: inline-block;
  vertical-align: top;
  word-wrap: normal;
  
}

.group-container__time {
  display: inline-block;  
  vertical-align: top;
}

