.booking {
  background-color: #440f51;
}

.booking__container {
  padding: 80px 30px;
}

.booking__title {
  margin-bottom: 40px;
}

.form__box-style {
  padding: 0;
  border: none;
}

.form__title {
  margin-bottom: 23px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
}

.form__title_type {
  margin-bottom: 40px;
  text-align: center;
}

.form__box-style_halls {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 60px;
  padding: 0;
}

.form__radio-hidden {
  display: none;
}

.form__label-radio {
  display: inline-flex;
  justify-content: center;
  flex-basis: 250px;
  padding: 7px 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.333;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  outline: none;
  background-color: #ffffff;
  border-radius: 8px;
  border: 3px solid #ffffff;
  cursor: pointer;
}

.form__label-radio:hover {
  background-color: #eadeed;
  border-color: #640AA3;
}

.form__label-radio:focus {
  border-color: #640AA3;
}

.form__radio-hidden:checked  + .form__label-radio {
  color: #ffffff;
  background-color: #6c0287;
}

.form__box-style_entertainment {
  display: flex;
  gap: 100px;
  max-width: 1080px;
  margin-left: auto;
  margin-bottom: 60px;
}

.form__box-style_gameconsole {
  display: flex;
  flex-basis: 280px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px; 
}


.form__box-style_boardgame {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px; 
}


.form__box-style_additionally {
  display: flex;
  flex-basis: 300px;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 20px; 
}

.form__label {
  display: inline-flex;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.136;
  cursor: pointer;
  align-items: flex-start;
}

.form__radio,
.form__chekbox {
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  margin-right: 12px;
  cursor: pointer;
}

.form__radio:focus,
.form__chekbox:focus {
  outline: 1px solid #CD06FF;
}

.time {
  display: flex;
  max-width: 980px;
  margin: 0 auto 40px;
  justify-content: space-between;
  column-gap: 50px;
  row-gap: 50px;
}

.time__container {
  padding-top: 22px;
  display: flex;
  flex-direction: row;
  flex-basis: 300px;
  gap: 36px 32px;
  flex-wrap: wrap;
}

.form__label-small {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: space-between;
  flex-grow: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.time__container-name {
  display: flex;
  flex-direction: column;
  flex-basis: 280px;
  flex-shrink: 0;
  gap: 14px
}

.time__container-contacts {
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  gap: 14px;
}

.form__select {
  padding: 12px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: #211E1E;
}

.form__input {
  position: relative;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.556;
  color: #211E1E;
  background-color: #ffffff;
  outline: none;
  border: 3px solid #ffffff;
}

.form__input:focus {
  border-color:#CD06FF;
}

.form__input_data {
  width: 134px;
}

.form__input_time {
  width: 134px;
}

.form__input_count {
  width: 300px;
}

.form-container {
  max-width: 980px;
  text-align: end;
  margin: 0 auto;
}

.form__btn {
  padding: 16px 50px;
  font-weight: 700;
  font-size: 22px;
  line-height: 1.273;
  text-transform: uppercase;
  color: #6C0287;
  background-color: #ffffff;
  border-radius: 10px;
  outline: none;
  border: 3px solid #ffffff;
}

.form__btn:hover  {
  background-color: #eadeed;
  border-color: #6C0287;
}

.form__btn:focus  {
  border-color: #6C0287;
}

.form__btn:active  {
  border-color: #eadeed;
  background-color: #eadeed;
}










