
.booking {
  background-color: var(--purple-dark-color, #440f51);
  padding-top: 80px;
  padding-bottom: 80px;
}

.booking__title {
  margin-bottom: 45px;
}

.form__box-grid {
  display: grid;
  grid-template-rows: 143px 307px minmax(229px, 1fr) min-content;
  gap: 40px;
}

.form__box-halls {
  padding: 0;
  display: flex;
  justify-content: space-between;
  border: none;
  text-align: center;
  align-items: flex-start;
}

.form__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28/24);
}

.form__subtitle-halls {
  margin-bottom: 42px;
}

.form__radio-hidden {
  position: fixed;
  transform: scale(0);    
}

.form__label-radio {
  flex-basis: 250px;    
  padding: 4px 15px;
  font-weight: 700;
  font-size: 30px;
  line-height: calc(40/30);
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  outline: none;
  background-color: var(--main-color, #ffffff);
  border-radius: 8px;
  border: 3px solid var(--main-color, #ffffff);
  cursor: pointer;

  transition: 
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    color 0.4s ease-in-out;
}

.form__label-radio:hover {
  background-color: var(--gray-light-color, #eadeed);
  border-color: #640AA3;
}

.form__label-radio:focus {
  border-color: var(--purple-light-color, #640aa3);
}

.form__radio-hidden:checked  + .form__label-radio {
  color: var(--main-color, #ffffff);
  background-color: var(--purple-color, #6c0287);
}

.form__box-entertainment {
  display: grid;
  gap: 100px;
  grid-template-columns: 280px 300px 1fr;
  justify-self: center;
  max-width: 980px;
  width: 100%;
  text-align: center;
}

.form__subtitle-entertainment {
  margin-bottom: 40px;
}

.form__box-gameconsole,
.form__box-boardgame,
.form__box-additionally {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.form__subtitle-gameconsole,
.form__subtitle-boardgame,
.form__subtitle-additionally {
  margin-bottom: 23px;
  text-align: left;
}

.form__label {
  display: inline-flex;
  font-weight: 400;
  font-size: 22px;
  line-height: calc(25/22);
  cursor: pointer;
  align-items: flex-start;
}

.form__radio,
.form__chekbox {
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 27px;
  margin-right: 12px;
  cursor: pointer;
  border: none;
  outline: 1px solid transparent;

  transition: outline-color 0.5s ease-in-out;
}

.form__chekbox {
  width: 26px;
  height: 26px;
}

.form__radio:focus,
.form__chekbox:focus {
  outline-color: var(--pink-color, #cd06ff);
}


.form__box-time {
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 280px 1fr;
  grid-template-areas: 
  "count name contacts"
  "count name contacts";
  column-gap: 50px;
  row-gap: 14px;
  max-width: 980px;
  width: 100%;
}

.form__subtitle-time {
  text-align: center;
  margin-bottom: 38px;
}

.time__group_date-time {
  max-width: 134px;
  width: 100%;
  display: inline-flex; 
  gap: 32px;
}

.time__group_count,
.time__group_date-time {
  flex: 1 0 auto;
  padding-top: 22px;
}

.time__group-2 {
  display: inline-flex;
  flex-direction: column;
  gap: 14px;
  height: 100%;
  width: 100%;
  grid-area: count;
  align-self: flex-end;
}

.time__group-3 {
  width: 100%;
  grid-area: name;
}

.time__group-4 {
  width: 100%;
  grid-area: contacts;
}

.time__group-3, 
.time__group-4 {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.form__label-small {
  max-width: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.form__input {
  width: 100%;
  padding: 10px 18px;
  font-size: 18px;
  line-height: 1.556;
  color: var(--second-color, #000000);
  background-color: var(--main-color, #ffffff);
  outline: none;
  border: 2px solid transparent;

  transition: border-color 0.4s ease-in-out;
}

.form__input:focus {
  border-color:var(--pink-color, #cd06ff);
}

.form__input_data,
.form__input_time {
  width: 134px;
  max-height: 52px;
}

.form__input_count {
  width: 100%;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #211E1E;
}

.container-form {
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
}

.form__btn {
  grid-column: -1 / -2;
  display: block;
  margin-left: auto;
  padding: 13px;
  max-width: 300px;
  width: 100%;
  
  font-weight: 700;
  font-size: 22px;
  line-height: calc(28/22);
  text-transform: uppercase;
  color: var(--purple-color, #6c0287);
  background-color: var(--main-color, #ffffff);
  border-radius: 10px;
  outline: none;
  border: 3px solid var(--main-color, #ffffff);
  box-shadow: 0 0 15px var(--main-color, #ffffff);;
  transition: 
    border-color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.form__btn:hover  {
  background-color: var(--gray-light-color, #eadeed);
  border-color: var(--purple-color, #6c0287);
}

.form__btn:focus  {
  border-color: var(--purple-color, #6c0287);
}

.form__btn:active  {
  border-color: transparent;
  background-color: var(--gray-light-color, #eadeed);
}

/*-----------------------------------------------------------------*/
@media (max-width: 1240px) {
  .booking {
    padding-top: 60px;
    padding-bottom: 60px;
  }
    
  .booking__title {
    margin-bottom: 40px;
  }

  .form__box-grid {
    grid-template-rows: 108px 283px minmax(216px, 1fr) min-content;
    gap: 50px;
  }


  .form__subtitle-halls {
    margin-bottom: 26px;
  }

  .form__label-radio {
    flex-basis: 180px;  
    padding: 7px 20px;
    font-size: 20px;
    line-height: calc(24/20);
    border-radius: 6px;
  }

  .form__box-entertainment {
    gap: 39px;
    grid-template-columns: 31% 32% 28%;
    max-width: 904px;
  }
  
  .form__subtitle-entertainment {
    margin-bottom: 26px;
  }

  .form__chekbox {
    width: 26px;
    height: 25px;
  }

  .form__box-time {
    max-width: 904px;
    grid-template-columns: 300px 1fr 1fr;
    column-gap: 48px;
    justify-self: auto;
  }

  .form__subtitle-time {
    margin-bottom: 26px;
  }

  .container-form {
    display: grid;
    max-width: 904px;
    grid-template-columns: 300px 1fr 1fr;
    column-gap: 48px;
    justify-self: auto;
  }

  .form__btn {
    grid-column: -1 / -2;
    padding: 10px 2px;
    font-size: 18px;
    line-height: calc(24/18);
  }
}

@media (max-width: 940px) {
  .booking {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .form__box-grid {
    grid-template-rows: 96px 513px minmax(313px, 1fr) 59px;
    gap: 50px;
  }

  .form__box-halls {
    max-width: 688px;
    gap: 29px;
  }

  .form__subtitle-halls {
    margin-bottom: 30px;
  }

  .form__label-radio {
    flex-basis: 130px;
    flex-grow: 1;
    padding: 6px 3px;
    font-size: 16px;
    line-height: calc(20/16);
  }

  .form__box-entertainment {
    column-gap: 46px;
    row-gap: 32px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 272px 1fr;
    max-width: 688px;
  } 

  .form__subtitle-entertainment {
    margin-bottom: 30px;
  }

  .form__radio,
  .form__chekbox {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .form__label {
    align-items: center;
  }

  .form__label-type {
    flex-grow: 1;
    max-width: 300px;
    width: 100%;
  }

  .time__group_date-time {
    max-width: 280px;
    gap: 14px;
  }

  .time__group_count {
    text-align: end;
  }

  .time__group-3 {
    max-width: 280px;
  }

  .time__group-2 {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    column-gap: 30px;
  }

  .time__group-4 {
    align-items: flex-end;
  }
  
  .form__box-time {
    max-width: 688px;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 55px minmax(162px, 1fr);
    grid-template-areas: 
    "count count"
    "name contacts";
    column-gap: 30px;
    row-gap: 42px;
  }

  .form__subtitle-time {
    margin-bottom: 27px;
  }

  .form__input {
    max-height: 52px;
    padding: 10px 20px;
  }

  .form__input_count {
    max-width: 300px;
    width: 100%;
  }

  .container-form {
    max-width: 688px;
    grid-template-columns: 280px 1fr;
    column-gap: 30px;
  }

  .form__btn {
    padding: 12px 2px;
    max-width: 300px;
    font-size: 22px;
    line-height: calc(28/22);
  }
}

@media (max-width: 640px) {
  .booking {
    padding-top: 30px;
    padding-bottom: 27px;
  }

  
  .booking__title {
    margin-bottom: 15px;
  }

  .form__box-grid {
    grid-template-rows: 107px 607px minmax(561px, min-content) 64px;
    gap: 30px;
  }

  .form__box-halls {
    flex-wrap: wrap;
    max-width: 280px;
    gap: 14px 20px;
  }

  .form__subtitle-halls {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: calc(18/14);
  }

  .form__label-radio {
    padding: 3px;
    font-size: 14px;
    line-height: calc(18/14);
    border-radius: 4px;
  }

  .form__box-entertainment {
    column-gap: 46px;
    row-gap: 25px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    max-width: 280px;
    justify-self: self-start;
  } 

  .form__subtitle-entertainment {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: calc(18/14);
  }

  .form__subtitle-gameconsole,
  .form__subtitle-boardgame,
  .form__subtitle-additionally {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: calc(18/14);
  }

  .form__radio,
  .form__chekbox {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }

  .form__box-gameconsole {
    row-gap: 15px;
}


  .form__label {
    font-size: 16px;
    line-height: calc(18/16);
  }

  .time__group_date-time,
  .time__group_count {
    width: 100%;
    padding-top: 0;
    gap: 12px;
  }

  .time__group-2 {
    flex-direction: column;
    row-gap: 15px;
  }

  .time__group-3 {
    max-width: 280px;
  }
  
  .form__box-time {
    max-width: 688px;
    grid-template-columns: 1fr;
    grid-template-rows: 119px repeat(2, minmax(163px, 206px));
    grid-template-areas:
    "count"
    "name" 
    "contacts";
    column-gap: 0;
    row-gap: 35px;
  }

  .form__subtitle-time {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: calc(18/14);
  }

  .form__input::placeholder {
    font-size: 14px;
    line-height: calc(18/14);
  } 

  .form__input {
    max-height: 52px;
    padding: 10px 17px;
  }

  .container-form {
    grid-template-columns: 1fr;
  }

  .form__btn {
    padding: 14px 20px;
    max-width: 300px;
    font-size: 18px;
    line-height: calc(26/18);
    border-radius: 4px;
    box-shadow: 0 0 10px var(--main-color, #ffffff);;
  }
}









