.burger {
  display: none;
}

@media (max-width: 940px) {
  .burger {
    z-index: 302;
    display: block;
    position: relative;
    height: 42px;
    width: 54px;
    cursor: pointer;
  }

  .burger__line,
  .burger::after,
  .burger::before {
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: var(--purple-color, #6c0287);
    left: 0;

    transition: transform .3s ease-out, top .3s ease-out, bottom .3s ease-out;
  }

  .burger__line {
    top: 50%;
    transform: scale(1) translate(0, -50%);
    pointer-events: none;
  }

  .burger::after,
  .burger::before {
    content: '';
  }

  .burger::before {
    top: 6px;
  }

  .burger::after {
    bottom: 6px;
    max-width: 31px;
  }

  .burger_active .burger__line  {
    transform: scale(0) translate(0px, -50%);
  }

  .burger_active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%) ;
  }

  .burger_active::after {
    max-width: 54px;
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%) ;
  }
}

@media (max-width: 640px) {
  .burger {
    height: 30px;
    width: 39px;
  }

  .burger__line,
  .burger::after,
  .burger::before {
    height: 4px;
  }

  .burger::before {
    top: 5px;
  }

  .burger::after {
    bottom: 5px;
    max-width: 23px;
  }

  .burger_active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%) ;
  }

  .burger_active::after {
    max-width: 39px;
    bottom: 50%;
    transform: rotate(45deg) translate(0, 50%) ;
  }
}