

.description-room__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  row-gap: 40px;
  column-gap: 80px;
}

.description-room__title {
  flex-basis: 100%;
}

.description-room__container-text {
  flex-basis: 185px;
  flex-grow: 1;
  align-self: center;
}

.description-room__text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: calc(28/20);
  color: var(--main-color, #ffffff);
}

.description-room__text:not(:last-child) {
  margin-bottom: 15px;
}

.description-room__img {
  max-width: 600px;
  height: 424px;
  object-fit: cover;
}

@media (max-width: 1240px) {
  .description-room {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .description-room__container {
    row-gap: 36px;
    column-gap: 30px;
  }

  .description-room__img {
    max-width: 461px;
    height: 326px;
  }

  .description-room__container-text {
    padding: 10px 0 5px;
  }
  .description-room__text {
    font-size: 18px;
    line-height: calc(28/18);
  }
}

@media (max-width: 940px) {
  .description-room {
    padding-top: 28px;
    padding-bottom: 30px;
  }

  
  .description-room__container {
    row-gap: 30px;
    column-gap: 46px;
  }

  .description-room__img {
    max-width: 329px;
  }

  .description-room__text {
    font-size: 16px;
    line-height: calc(28/16);
  }
}

@media (max-width: 640px) {
  .description-room {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .description-room__container {
    row-gap: 14px;
  }

  .description-room__img {
    max-width: 280px;
    height: 180px;
  }

  .description-room__container-text {
    padding: 0;
  }
  .description-room__text {
    font-size: 12px;
    line-height: calc(16/12);
  }
}

