.faq__title {
  margin-bottom: 46px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.faq__item-btn-wrapper {
  padding: 21px 70px 20px;
}

.faq__item-btn-wrapper_white {
  background-color: var(--main-color, #ffffff);
}

.faq__item-btn-wrapper_purple {
  color: var(--main-color, #ffffff);
  background-color: var(--purple-dark-color, #440f51);
}

.faq__item-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  outline: 2px solid transparent;
  outline-offset: 6px;

  transition: outline-color .5s ease-in-out;
}

.faq__item-btn-title {
  text-align: start;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28/24);
}

.faq__item-btn-title_white {
  color: var(--main-color, #ffffff);
}

.faq__item-btn-title_black {
  color: var(--dark-color, #1c1a1a);
}

.faq__item-text-wrapper {
  height: 0;
  padding: 0 70px;
  display: flex;
  align-items: center;
  background-color: var(--main-color, #ffffff);
  overflow: hidden;
  transition: height .4s ease-in-out;
}

.faq__item-text {
  font-size: 24px;
  line-height: calc(28/24);
  color: var(--second-color, #000000)
}

.faq__item_active .faq__item-text-wrapper {
  height: 214px;
}

.faq__item-box-svg {
  max-width: 46px;
  max-height: 46px;
  border-radius: 50%;
  outline: 2px solid transparent;
  outline-offset: -2px;

  transition: 
    color 0.3s ease-in-out,
    stroke 0.3s ease-in-out,
    outline-color 0.3s ease-in-out;
}

.faq__item-box-svg_purple {
  color: var(--main-color, #ffffff);
  stroke:var(--purple-dark-color, #440f51);
  outline-color: var(--purple-dark-color, #440f51);
}

.faq__item-box-svg_white {
  color: var(--purple-dark-color, #440f51);
  stroke:var(--main-color, #ffffff);
  outline-color: var(--main-color, #ffffff);
}

.faq__item-btn-wrapper_white:hover .faq__item-box-svg {
  color: var(--purple-dark-color, #440f51);
  stroke: var(--main-color, #ffffff);
}

.faq__item-btn-wrapper_purple:hover .faq__item-box-svg {
  color: var(--main-color, #ffffff);
  stroke: var(--purple-dark-color, #440f51);
}


.faq__item_active .faq__item-box-svg_purple {
  color: var(--main-color, #ffffff);
  stroke:var(--purple-dark-color, #440f51);
  outline-color: var(--purple-dark-color, #440f51);
}

.faq__item_active .faq__item-box-svg_white  {
  color: var(--purple-dark-color, #440f51);
  stroke:var(--main-color, #ffffff);
  outline-color: var(--main-color, #ffffff);
}

.faq__item_active .faq__item-box-svg_purple path:first-of-type,
.faq__item_active .faq__item-box-svg_white  path:first-of-type {
  display: none;
}



@media (max-width: 1240px) {
  .faq {
    padding-top: 35px;
    padding-bottom: 57px;
  }

  .faq__title {
    margin-bottom: 26px;
  }

  .faq__list {
    gap: 16px;
  }
  
  .faq__item-btn-wrapper {
    padding: 12px 20px 12px 25px
    }

  .faq__item:last-child {
    display: none;
  }

  .faq__item-btn,
  .faq__item-btn-title,
  .faq__item-text {
    font-size: 20px;
    line-height: calc(24/20);
  }

  .faq__item-text-wrapper {
    padding: 0 20px;
  }

  .faq__item_active .faq__item-text-wrapper {
    height: 184px;
  }
}

@media (max-width: 940px) {
  .faq {
    padding-top: 25px;
    padding-bottom: 34px;
  }

  .faq__title {
    margin-bottom: 25px;
  }

  .faq__list {
    gap: 16px;
  }
  
  .faq__item-btn-wrapper {
    padding: 12px 65px 12px 54px;
  }
    
  .faq__item-btn,
  .faq__item-btn-title,
  .faq__item-text {
    font-size: 18px;
    line-height: calc(24/18);
  }

  .faq__item-text-wrapper {
    padding: 0 65px;
  }

  .faq__item_active .faq__item-text-wrapper {
    height: 154px;
  }
}

@media (max-width: 640px) {
  .faq {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .faq__container {
    max-height: 247px;
  }

  .faq__title {
    margin-bottom: 14px;
  }

  .faq__list {
    gap: 10px;
  }
  
  .faq__item-btn-wrapper {
    padding: 8px 13px 9px 10px;
  }

  .faq__item span {
    max-width: 224px;
  }
    
  .faq__item-btn {
    text-align: left;
    font-size: 12px;
    line-height: calc(16/12);
    outline-offset: 4px;
    border-radius: 10px;
  }

  .faq__item-btn-title {
    font-size: 12px;
    line-height: calc(16/12);
  }

  .faq__item-text-wrapper {
    padding: 0 13px;
  }

  .faq__item-text {
    font-size: 12px;
    line-height: calc(16/12);
  }

  .faq__item_active .faq__item-text-wrapper {
    height: 124px;
  }

  .faq__item-box-svg {
    max-width: 30px;
    max-height: 30px;
  }
}