.faq__title {
  margin-bottom: 40px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  padding: 21px 70px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.917;
}

.faq__item:nth-child(odd) {
  color: #1C1A1A;
  background-color: #fff;
}

.faq__item:nth-child(even) {
  color: #fff;
  background-color: #440F51;
}


.faq__item-btn {
  max-width: 46px;
  max-height: 46px;
  border-radius: 50%;
  border: none;
}

.faq__item:nth-child(odd) .faq__item-btn {
  color: #ffffff;
  stroke:#440F51;
  outline: 1px solid #440F51;
}

.faq__item:nth-child(even) .faq__item-btn {
  color: #440F51;
  stroke:#ffffff;
  outline: 1px solid #ffffff;
}

.faq__item:nth-child(odd) .faq__item-btn:hover {
  color: #440F51;
  stroke: #ffffff;
}


.faq__item:nth-child(even) .faq__item-btn:hover {
  color: #ffffff;
  stroke: #440F51;
}

.faq__item:nth-child(odd) .faq__item-btn:active {
  color: #ffffff;
  stroke:#440F51;
  outline: 1px solid #440F51;
}

.faq__item:nth-child(even) .faq__item-btn:active {
  color: #440F51;
  stroke:#ffffff;
  outline: 1px solid #ffffff;
}

.faq__item:nth-child(odd) .faq__item-btn:active path:first-of-type {
  stroke: #ffffff;
}

.faq__item:nth-child(even) .faq__item-btn:active path:first-of-type {
  stroke: #440F51;
}

/*

.faq__item-btn:hover {
  color: #440F51;
  stroke: #fff;
}

.faq__item-btn:active .box__line {
  color: transparent;
  stroke:#440F51;
}

.faq__item-btn:active {
  color: transparent;
  stroke:#fff;
}

.faq__item-btn_odd {
  max-width: 46px;
  max-height: 46px;
  color: #440F51;
  border-radius: 50%;
  stroke:#ffffff;
  outline: 1px solid #ffffff;
  border: none;
}


.faq__item-btn_odd:hover {
  color: #ffffff;
  stroke: #440F51;
}

.faq__item-btn_odd:active .box__line {
  color: transparent;
  stroke:#ffffff;
}

.faq__item-btn_odd:active {
  color: transparent;
  stroke:#440F51;
}



/*
.faq__item::after {
  content: "";
  display: block;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-size: contain;
}

.faq__item:nth-child(odd)::after {
  background-image: url("../icon/open-purple.svg");
}

.faq__item:nth-child(odd)::after {
  background-image: url("../icon/open-purple.svg");
  border: 10px solid red  ;
}

.faq__item:nth-child(even)::after {
  background-image: url("../icon/open.svg");
}
*/