.faq__title {
  margin-bottom: 46px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.faq__item-title,
.faq__item-text {
  font-size: 24px;
  line-height: calc(28/24);
}

.icon,
.icon_active {
  display: flex;
  justify-content: space-between;
  align-items: center;
  order: 5;
  width: 46px;
  height: 46px;
  background-repeat: no-repeat;
  background-size: contain;
}

.faq__item-wrapper {
  padding: 21px 70px 20px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.faq__item:nth-child(even) .faq__item-wrapper-title {
  background-color: var(--purple-dark-color, #440f51);
  color: var(--main-color,  #ffffff);
}

.faq__item:nth-child(even) .icon {
  background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.8305 14H23.5085V34H22.8305V14Z' fill='white'/%3E%3Cpath d='M13 24.1695V23.4915H33V24.1695H13Z' fill='white'/%3E%3Ccircle cx='23' cy='23' r='22' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.faq__item:nth-child(even):hover .icon {
  background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='23' cy='23' r='22.5' fill='white' stroke='white'/%3E%3Cpath d='M22.8305 14H23.5085V34H22.8305V14Z' fill='%236C0287'/%3E%3Cpath d='M13 24.1695V23.4915H33V24.1695H13Z' fill='%236C0287'/%3E%3C/svg%3E%0A");
}

.faq__item:nth-child(even) .icon_active {
  background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='13' y='23' width='20' height='1' fill='white'/%3E%3Ccircle cx='23' cy='23' r='22' stroke='white' stroke-width='2'/%3E%3C/svg%3E%0A");
}

.faq__item:nth-child(odd) .faq__item-wrapper-title {
  background-color: var(--main-color, #ffffff);
  color: var(--dark-color, #1c1a1a);
}

.faq__item:nth-child(odd) .icon {
  background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.8305 14H23.5085V34H22.8305V14Z' fill='%236C0287'/%3E%3Cpath d='M13 24.1695V23.4915H33V24.1695H13Z' fill='%236C0287'/%3E%3Ccircle cx='23' cy='23' r='22.5' stroke='%236C0287'/%3E%3C/svg%3E%0A");
}

.faq__item:nth-child(odd):hover .icon {
  background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='23' cy='23' r='22.5' fill='%236C0287' stroke='%236C0287'/%3E%3Cpath d='M22.8305 14H23.5085V34H22.8305V14Z' fill='white'/%3E%3Cpath d='M13 24.1695V23.4915H33V24.1695H13Z' fill='white'/%3E%3C/svg%3E%0A");
}

.faq__item:nth-child(odd) .icon_active {
  background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='23' cy='23' r='22.5' stroke='%236C0287'/%3E%3Crect x='13' y='23' width='20' height='1' fill='%236C0287'/%3E%3C/svg%3E%0A");
}

.faq__item-wrapper-title {
  cursor: pointer;
}

.faq__item-wrapper-text {
  background-color: var(--main-color, #ffffff);
  color: var(--dark-color, #1c1a1a);
}

@media (max-width: 1240px) {
  .faq {
    padding-top: 35px;
    padding-bottom: 57px;
  }

  .faq__title {
    margin-bottom: 26px;
  }

  .faq__list {
    gap: 16px;
  }

  .faq__item-wrapper {
    padding: 12px 20px 12px 25px;
  }

  .faq__item:last-child {
    display: none;
  }

  .faq__item-title,
  .faq__item-text {
    font-size: 20px;
    line-height: calc(24/20);
  }

  .faq__item:nth-child(even) .faq__item-wrapper-title {
    background-color: var(--main-color, #ffffff);
    color: var(--dark-color, #1c1a1a);
  }
  
  .faq__item:nth-child(even) .icon {
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.8305 14H23.5085V34H22.8305V14Z' fill='%236C0287'/%3E%3Cpath d='M13 24.1695V23.4915H33V24.1695H13Z' fill='%236C0287'/%3E%3Ccircle cx='23' cy='23' r='22.5' stroke='%236C0287'/%3E%3C/svg%3E%0A");
  }
  
  .faq__item:nth-child(even):hover .icon {
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='23' cy='23' r='22.5' fill='%236C0287' stroke='%236C0287'/%3E%3Cpath d='M22.8305 14H23.5085V34H22.8305V14Z' fill='white'/%3E%3Cpath d='M13 24.1695V23.4915H33V24.1695H13Z' fill='white'/%3E%3C/svg%3E%0A");
  }
  
  .faq__item:nth-child(even) .icon_active {
    background-image: url("data:image/svg+xml,%3Csvg width='46' height='46' viewBox='0 0 46 46' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='23' cy='23' r='22.5' stroke='%236C0287'/%3E%3Crect x='13' y='23' width='20' height='1' fill='%236C0287'/%3E%3C/svg%3E%0A");
  }
}

@media (max-width: 940px) {
  .faq {
    padding-top: 25px;
    padding-bottom: 34px;
  }

  .faq__title {
    margin-bottom: 25px;
  }

  .faq__item-wrapper {
    padding: 12px 65px 12px 59px;
  }

  .faq__item-title,
  .faq__item-text {
    font-size: 18px;
    line-height: calc(24/18);
  }
}

@media (max-width: 640px) {
  .faq {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .faq__container {
    max-height: 247px;
  }

  .faq__title {
    margin-bottom: 14px;
  }

  .faq__list {
    gap: 10px;
  }
  
  .faq__item-wrapper {
    padding: 8px 13px 9px 10px;
  }

  .faq__item-title,
  .faq__item-text {
    font-size: 12px;
    line-height: calc(16/12);
  }

  .icon,
  .icon_active {
    width: 30px;
    height: 30px;
  }
} 