.faq__title {
  margin-bottom: 40px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.faq__item {
  display: flex;
  justify-content: space-between;
  padding: 21px 70px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.917;
}

.faq__item:nth-child(odd) {
  background-color: var(--main-color, #ffffff);
}

.faq__item:nth-child(even) {
  background-color: var(--pink-dark-color, #440F51);
}

.faq__item-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.faq__item:nth-child(1n) span {
  color: #1C1A1A;
}

.faq__item:nth-child(2n) span {
  color: var(--main-color, #ffffff);
}

.box-svg {
  max-width: 46px;
  max-height: 46px;
  border-radius: 50%;
  outline: 2px solid transparent;
  outline-offset: -2px;

  transition: 
    color 0.3s ease-in-out,
    stroke 0.3s ease-in-out,
    outline-color 0.3s ease-in-out;


}

.faq__item:nth-child(odd) .box-svg {
  color: var(--main-color, #ffffff);
  stroke:var(--pink-dark-color, #440F51);
  outline-color: var(--pink-dark-color, #440F51);
}

.faq__item:nth-child(even) .box-svg {
  color: var(--pink-dark-color, #440F51);
  stroke:var(--main-color, #ffffff);
  outline-color: var(--main-color, #ffffff);
}

.faq__item:nth-child(odd):hover .box-svg {
  color: var(--pink-dark-color, #440F51);
  stroke: var(--main-color, #ffffff);
}


.faq__item:nth-child(even):hover .box-svg {
  color: var(--main-color, #ffffff);
  stroke: var(--pink-dark-color, #440F51);
}

.faq__item:nth-child(odd):active .box-svg {
  color: var(--main-color, #ffffff);
  stroke:var(--pink-dark-color, #440F51);
  outline-color: var(--pink-dark-color, #440F51);
}

.faq__item:nth-child(even):active .box-svg {
  color: var(--pink-dark-color, #440F51);
  stroke:var(--main-color, #ffffff);
  outline-color: var(--main-color, #ffffff);
}

.faq__item:nth-child(odd):active .box-svg path:first-of-type {
  stroke: var(--main-color, #ffffff);
}

.faq__item:nth-child(even):active .box-svg path:first-of-type {
  stroke: var(--pink-dark-color, #440F51);
}