.footer {
  padding-bottom: 51px;
}

.footer__title {
  margin-bottom: 54px;
}

.contacts {
  margin-bottom: 35px;
}

.contacts__text {
  width: 415px;
  height: auto;
  padding: 0px 0 0px 65px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  font-style: normal;
  background-size: 35px 32px;
  background-repeat: no-repeat;
  background-position: left center;
}

.contacts__location {
  margin-bottom: 35px;
  white-space: pre-line;
  background-image: url("../img/location.svg");
}

.contacts__tel {
  margin-bottom: 10px;
  background-image: url("../img/phone-call.svg");
}

.contacts__mail {
  background-image: url("../img/envelope.svg");
}

.contacts__link {
  display: inline-block;
  height: 100%;
  color: inherit;
  line-height: 0;
  text-decoration: none;
}

.social {
  display: inline-block;
}

.social__item {
  display: inline-block;
}

.social__item:not(:last-of-type) {
  margin-right: 26px;
}

.social__link {
  display: inline-block;
  height: 100%;
  color: inherit;
  line-height: 0;
  text-decoration: none;
}


