.footer {
  padding-top: 55px;
  padding-bottom: 10px;
  background: linear-gradient(180deg, #1B1A1B 0%, #370A37 100%);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__title {
  margin: 0 auto 54px;

  flex-basis: 980px;
}

.contacts {
  flex-basis: 380px;
}

.contacts__text {
  padding: 0px 0 0px 65px;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.167;
  font-style: normal;
  background-size: 35px 32px;
  background-repeat: no-repeat;
  background-position: left center;
}

.contacts__location {
  margin-bottom: 35px;
  white-space: pre-line;
  background-image: url("../img/location.svg");
}

.contacts__tel {
  margin-bottom: 10px;
  background-image: url("../img/phone-call.svg");
}

.contacts__mail {
  margin-bottom: 35px;
  background-image: url("../img/envelope.svg");
}

.contacts__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.contacts__list{
  display: flex;
  gap: 26px;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.footer__img {
  margin-bottom: 156px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  color: #FFFFFF;
}

.footer-development__list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-development__item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
  color: #FFFFFF;
}
