.footer__subtitle {
  margin-bottom: 54px;
}

.footer__text {
  padding-left: 65px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.footer__tel {
  background-image: url(../img/phone-call.svg);
  background-size: 35px 32px;
}

.footer__link {
  text-decoration: none;
  color: inherit;
}
