.halls__title {
  margin-bottom: 60px;
}

.halls__list {
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.halls__item {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  max-width: 580px;
  max-height: 349px;
  text-align: center;

}
.halls__item:first-child {
  margin-bottom: 20px;
}

.halls__item:not(:nth-child(2n)) {
  margin-right: 20px;
}

.halls__item_theme_vibes {
  background-image: url("../img/80s-vibes.jpg");
}


.halls__item_theme_starwars {
  background-image: url("../img/star-wars.jpg");
}

.halls__item_theme_wildwest {
  background-image: url("../img/wild-west.jpg");
}

.halls__item_theme_neon {
  background-image: url("../img/neon-style.jpg");
}

.halls__link {
  display: block;
  padding: 135px 0;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.142;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}



