.halls {
  padding-bottom: 100px;
}

.halls__title {
  margin-bottom: 45px;
}

.halls__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.halls__item {
  display: flex;
  flex: 1 1 48%;
  justify-content: center;
  align-items: center;
  height: 349px;
  background-repeat: no-repeat;
  background-size: cover;
}

.halls__item_theme_vibes {
  background-image: url("../img/80s-vibes.jpg");
}

.halls__item_theme_starwars {
  background-image: url("../img/star-wars.jpg");
}

.halls__item_theme_wildwest {
  background-image: url("../img/wild-west.jpg");
}

.halls__item_theme_neon {
  background-image: url("../img/neon-style.jpg");
}

.halls__link {
  max-width: 580px;
  padding: 95px 120px;
  font-size: 70px;
  font-weight: 700;
  line-height: calc(80/70);
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  outline: 3px solid transparent;

  transition: 
    color .3s ease-in-out,
    outline-color .5s ease-in-out;
}

.halls__link:hover {
  color: var(--pink-color, #cd06ff);
}

.halls__link:focus {
  outline-color: var(--main-color, #ffffff);
}



@media (max-width: 1240px) {
  .halls {
    padding-top: 35px;
    padding-bottom: 70px;
  }
  
  .halls__title {
    margin-bottom: 37px;
  }

  .halls__list{
    row-gap: 18px;
  }
  
  
  .halls__item {
    height: 267px;
  }

  .halls__link {
    padding: 74px 90px;
    font-size: 50px;
    line-height: calc(60/50);
  }

  .halls__item_theme_starwars {
    padding-left: 0;
  }
}

@media (max-width: 900px) {
  .halls {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .halls__item {
    height: 200px;
  }

  .halls__link {
    padding: 25px 65px 35px;
    font-size: 40px;
    line-height: calc(50/40);
    transform: translateY(10%);
  }
}

@media (max-width: 640px) {
  .halls {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .halls__title {
    margin-bottom: 15px;
  }

  .halls__list{
    row-gap: 10px;
  }

  .halls__item {
    height: 168px;
  }

  .halls__link {
    padding: 68px 75px;
    font-size: 26px;
    line-height: calc(34/26);
    transform: translateY(0);
  }
}




