.header {
  padding-top: 30px;
  padding-bottom: 20px;
}

.header-main {
  padding-bottom: 25px
}

.header__container {
  display: grid;
  grid-template-columns: 120px 587px 280px;
  column-gap: 6vw;
  row-gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.header__logo{
  display: block;
  line-height: 0;
}

.navigation__menu {
  display: none;
}

.navigation__list {
  display: flex;
  max-width: 587px;
  gap: 41px;
}

.navigation__item {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: var(--main-color, #ffffff);
  line-height: calc(50/22);
  text-transform: uppercase;
}

.navigation__link {
  display: block;
  outline: 3px solid transparent;

  transition: 
    color 0.3s ease-in-out, 
    outline 0.3s ease-in-out;
}

.navigation__link:hover {
  color: var(--pink-color, #cd06ff);
}

.navigation__link:focus {
  border-bottom-color: var(--main-color, #ffffff);
}

.navigation__link:active {
  color: var(--purple-light-color, #640aa3);
}

.header__link-call {
  order: 2;
  align-self: self-end;
  margin-bottom: 2px;
  padding: 10px 29px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: calc(30/22);
  color: var(--main-color, #ffffff);
  text-transform: uppercase;
  background-color: var(--main-bg-color, #1b1a1b);
  outline: none;
  border: 3px solid var(--pink-color, #cd06ff);
  border-radius: 10px;
  transition: 
  background-color 0.3s ease-in-out, 
  border-color 0.3s ease-in-out;
}

.header__link-call:hover {
  background-color: var(--purple-color, #6c0287);
  border-color: var(--purple-color, #6c0287);
}

.header__link-call:focus {
  background-color: var(--purple-color, #6c0287);
}

.header__link-call:active {
  background-color: var(--purple-light-color, #640aa3);
  border-color: var(--second-color, #000000);
}

.header__link-main {
  display: none;
}

.header__link {
  grid-column: 1 / -1;
  order: 5;
  position: relative;
  padding-left: 40px;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 22px;
  line-height: calc(28/22);
  color: var(--main-color, #ffffff);
}

.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 44%;
  transform: translateY(-50%);
  width: 30px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='16' viewBox='0 0 31 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM31 7L1 7V9L31 9V7Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

@media (max-width: 1240px) {
  .header {
    /*
    padding-bottom: 15px;
    */
    padding-bottom: 20px;
  }

  .header-main {
    padding-bottom: 15px
  }

  .header__container {
    grid-template-columns: 87px 430px 229px;
    column-gap: 1vw;
    row-gap: 50px;
  }

  .header__logo-img{
    height: 55px;
    width: 87px;
  }
  

  .navigation__list {
    max-width: 430px;
    gap: 20px;
  }
  
  .navigation__item {
    font-size: 18px;
    line-height: calc(22/18);
  }

  .header__link-call {
    margin-bottom: 4px;
    padding: 8px 23px;
    font-size: 18px;
    line-height: calc(24/18);
    border-radius: 8px;
  }
  
}

@media (max-width: 900px) {
  .header {
    padding-top: 32px;
    /*padding-bottom: 15px;*/
    padding-bottom: 20px;

  }

  .header-main {
    padding-bottom: 15px
  }
  
  .header__container {
    grid-template-columns: 54px 87px 229px;
    column-gap: 1vw;
    row-gap: 42px;
  }

  .header__logo {
    order: 1;
    align-self: self-end;
  }

  .navigation__menu {
    display: block;
    height: 43px;
    width: 55px;

    border: none;
    outline: 1px solid transparent;
    outline-offset: 2px;
    background-color: transparent;
    color: var(--purple-color, #6c0287);
    transition: outline 0.3s ease-in-out;
  }

  .navigation__svg {
    padding-top: 10px;
  }

  .navigation__menu:hover {
    color: var(--pink-color, #cd06ff);
  }

  .navigation__menu:focus {
    outline-color: var(--pink-color, #cd06ff);
  }

  .navigation__menu:active {
    color: var(--pink-dark-color, #840aa3);
  }

  .navigation__list {
    display: none;
  }

  .header__link-call {
    margin-bottom: 2px;
    padding: 7px 23px 8px;
  }

  .header__link {
    padding-left: 40px;
    font-size: 16px;
    line-height: calc(28/16);

  }
  
}

@media (max-width: 640px) {
  .header {
    padding-top: 20px;
    /*padding-bottom: 10px;*/
    padding-bottom: 15px;
  }

  .header-main {
    padding-bottom: 10px
  }

  .header__container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 18px;
  }

  .header__logo {
    width: 66px;
    height: 42px;
    justify-self: flex-end;

  }
  .navigation__menu {
    height: 33px;
    width: 39px;
    margin: 0;
  }

  .header__link-call {
    display: none;
  }

  .header__link {
    padding-left: 22px;
    font-size: 12px;
    line-height: calc(16/12);

  }
  
  .header__link::before {
    width: 16px;
    height: 16px;
  }
}


