.header {
  padding-top: 30px;
  padding-bottom: 25px;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 40px
}

.navigation__item {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 22px;
  line-height: 2.273;
  text-transform: uppercase;
}

.navigation__link {
  border-bottom: 3px solid transparent;
  outline: none;
}

.navigation__link:hover {
  color: #CD06FF        ;
}

.navigation__link:focus {
  border-bottom-color: #ffffff;
}

.navigation__link:active {
  color: #640AA3;
}

.header__button {
  padding: 12px 32px 13px;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.364;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #1b1a1b;
  outline: none;
  border: 3px solid #cd06ff;
  border-radius: 10px;
}

.header__button:hover {
  background-color: #6c0287;
  border-color: #6c0287;
}

.header__button:focus {
  background-color: #6c0287;
}

.header__button:active {
  background-color: #640AA3;
  border: 3px solid  #000000;
}




