.header {
  padding-top: 30px;
  padding-bottom: 25px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 40px
}

.navigation__item {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 22px;
  line-height: 2.273;
  text-transform: uppercase;
}

.navigation__link {
  border-bottom: 3px solid transparent;
  outline: none;

  transition: 
    color 0.3s ease-in-out, 
    border-bottom-color 0.3s ease-in-out;
}

.navigation__link:hover {
  color: var(--pink-color, #cd06ff);
}

.navigation__link:focus {
  border-bottom-color: var(--main-color, #ffffff);
}

.navigation__link:active {
  color: var(--purple-light-color, #640aa3);
}

.header__button {
  padding: 12px 32px 13px;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.364;
  color: var(--main-color, #ffffff);
  text-transform: uppercase;
  background-color: var(--main-bg-color, #1b1a1b);
  outline: none;
  border: 3px solid var(--pink-color, #cd06ff);
  border-radius: 10px;

  transition: 
  background-color 0.3s ease-in-out, 
  bborder-color 0.3s ease-in-out;
}

.header__button:hover {
  background-color: var(--purple-color, #6c0287);
  border-color: var(--purple-color, #6c0287);
}

.header__button:focus {
  background-color: var(--purple-color, #6c0287);
}

.header__button:active {
  background-color: var(--purple-light-color, #640aa3);
  border-color: var(--second-color, #000000);
}




