.hero-room {
  position: relative;
  padding-top: 0;
  padding-bottom: 50px;
}

.hero-room::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 750px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.hero-room_img-vibes::after {
  background-image: url('../img//room-hero-vibes.jpg');
}

.hero-room_img-star::after {
  background-image: url('../img//room-hero-star.jpg');
}

.hero-room_img-wildwest::after {
  background-image: url('../img//room-hero-wildwest.jpg');
  background-position: bottom;
}

.hero-room_img-neonstyle::after {
  background-image: url('../img//room-hero-neonstyle.jpg');
}

.hero-room__container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.hero-room__title {
  padding: 335px 0;
  flex-basis: 750px;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 90px;
  line-height: calc(80/90);
  text-align: center;
  text-transform: uppercase;
  color: var(--main-color, #ffffff);
}


.hero-room__text {
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(36/24);
  text-align: center;
  color: var(--main-color, #ffffff);
}

@media (max-width: 1240px) {
  .hero-room {
    padding-bottom: 35px;
  }
  
  .hero-room::after {
    height: 534px;
  }

  .hero-room__container {
    gap: 70px;
  }

  .hero-room__title {
    padding: 227px 0;
    flex-basis: 534px;
  }

  .hero-room__text {
    max-width: 800px;
    font-size: 20px;
    line-height: calc(30/20);
  }
  
}

@media (max-width: 900px) {
  .hero-room {
    padding-bottom: 30px;
  }
  
  .hero-room::after {
    height: 402px;
  }

  .hero-room__container {
    gap: 60px;
  }

  .hero-room__title {
    padding: 165px 0;
    flex-basis: 402px;
    font-size: 60px;
    line-height: calc(72/60);
  }

  .hero-room__text {
    max-width: 688px;
    font-size: 16px;
    line-height: calc(24/16);
  }
}

@media (max-width: 640px) {
  .hero-room {
    padding-bottom: 15px;
  }
  
  .hero-room::after {
    height: 168px;
  }

  .hero-room__container {
    gap: 31px;
  }

  .hero-room__title {
    padding: 66px 0;
    flex-basis: 168px;
    font-size: 30px;
    line-height: calc(36/30);
  }

}
