.hero__container {
  position: relative;
  height: 823px;
}

.hero__container::after {
  content: '';
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 675px;
  height: 762px;
  background-image: url("../img/banner.png");
  background-size: contain;
  z-index: 10;
}

.hero__title {
  width: 883px;
  font-size: 150px;
  line-height: 150px;
  letter-spacing: -5px;
}

.hero__text {
  margin-left: 100px;
  font-size: 28px;
  font-weight: 400;
  line-height: 1.786;
}

.hero__list {
  display: flex;
  margin-bottom: 150px;
  gap: 40px;
  align-items: end;
}

.hero__item {
  flex-basis: 193px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  text-align: center;

  color: var(--main-color, #ffffff);
}

.text-big {
  font-weight: 900;
    font-size: 100px;
  line-height: 141px;
  color: var(--pink-color, #cd06ff);
}

.text-medium {
  font-weight: 900;
  font-size: 75px;
  line-height: 106px;
  font-variant: all-small-caps;
  color: var(--pink-color, #cd06ff);
}

.hero__link {
  display: inline-block;
  position: relative;
  padding: 25px 69px;
  z-index: 100;
  font-weight: 700;
  font-size: 26px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--main-color, #ffffff);
  background: var(--purple-color, #6c0287);
  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px var(--purple-color, #6c0287);

  transition: background-color 0.3s ease-in-out; 
}

.hero__link:hover {
  background-color: var(--pink-dark-color, #840aa3);
}


.hero__link:focus {
  background-color: var(--pink-dark-color, #840aa3);
}

.hero__link:active {
  background-color: var(--pink-light-color, #640aa3);
}

.down__box_circle {
  stroke: var(--main-color, #ffffff);

  transition: 
    stroke 0.3s ease-in-out,
    fill 0.3s ease-in-out;
}

.down__box_line {
  fill: var(--main-color, #ffffff);

  transition: 
    stroke 0.3s ease-in-out,
    fill 0.3s ease-in-out;
}

.hero__link-down {
  position: absolute;
  left: 50%;
  bottom: 90px;
  transform: translateX(-50%);
  width: 97px;
  height: 97px;
  z-index: 100;
  color: transparent;
  outline: 1px solid transparent;

  transition: outline-color 0.3s ease-in-out;
}
/*управление цветом down-svg при различных состояниях*/
/*:hover*/
.hero__link-down:hover .down__box_circle {
  stroke: transparent;
  fill: var(--main-color, #ffffff);
}

.hero__link-down:hover .down__box_line {
  stroke: transparent;
  fill: var(--purple-color, #6c0287);
}

/*:focus*/
.hero__link-down:focus {
  outline-color: var(--pink-color, #cd06ff);
}

/*active:*/
.hero__link-down:active {
  outline-color: transparent;
}

.hero__link-down:active .down__box_circle {
  stroke: transparent;
  fill: var(--pink-color, #cd06ff);
}

.hero__link-down:active .down__box_line {
  stroke: transparent;
  fill: var(--main-color, #ffffff);
}
