.hero__container {
  position: relative;
  height: 823px;
}

.hero__container::after {
  content: '';
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 675px;
  height: 762px;
  background-image: url("../img/banner.png");
  background-size: contain;
  z-index: 10;
}

.hero__title {
  width: 883px;
  font-size: 150px;
  line-height: 150px;
  letter-spacing: -5px;
}

.hero__text {
  margin-left: 100px;
  font-size: 28px;
  font-weight: 400;
  line-height: 50px;
}



