.other-rooms {
  padding-top: 50px;
  padding-bottom: 100px;
}

.other-rooms__container {
  display: flex;
  flex-wrap: wrap;
  gap: 36px;
}

.other-rooms__title {
  flex-basis: 100%;
}

.other-rooms__list {
  display: flex;
  flex-basis: 100%;
  justify-content: space-between;
  gap: 20px;
}

.other-rooms__item {
  display: flex;
  flex-basis: 380px;
  justify-content: center;
  align-items: center;
  height: 229px;
  background-repeat: no-repeat;
  background-size: cover;
}

.other-rooms__item_theme_vibes {
  background-image: url("../img/80s-vibes.jpg");
}

.other-rooms__item_theme_starwars {
  background-image: url("../img/star-wars.jpg");
}

.other-rooms__item_theme_wildwest {
  background-image: url("../img/wild-west.jpg");
}

.other-rooms__item_theme_neon {
  background-image: url("../img/neon-style.jpg");
}

.other-rooms__link {
  padding: 78px 110px;
  font-size: 30px;
  font-weight: 700;
  line-height: calc(36/30);
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-color, #ffffff);
  outline: 3px solid transparent;

  transition: 
    color .3s ease-in-out,
    outline-color .3s ease-in-out;
}

.other-rooms__link:hover {
  color: var(--pink-color, #cd06ff);
}

.other-rooms__link:focus {
  outline-color: var(--main-color, #ffffff);
}

@media (max-width: 1240px) {
  .other-rooms {
    padding-top: 35px;
    padding-bottom: 70px;
  }

  .other-rooms__item {
    flex-basis: 288px;
    height: 172px;
  }
  
  .other-rooms__link {
    padding: 50px 60px;
  }
}

@media (max-width: 900px) {
  .other-rooms {
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .other-rooms__container {
    gap: 30px;
  }

  .other-rooms__list {
    gap: 8px;
  }

  .other-rooms__item {
    flex-basis: 224px;
    height: 134px;
  }

  .other-rooms__link {
    padding: 43px 55px;
    font-size: 20px;
    line-height: calc(24/20);
  }
}

@media (max-width: 640px) {
  .other-rooms {
    padding-top: 15px;
    padding-bottom: 30px;
  }

  .other-rooms__container {
    gap: 15px;
  }

  .other-rooms__list {
    flex-direction: column;
    gap: 5px;
  }

  .other-rooms__item {
    flex-basis: 140px;
  
  }

  .other-rooms__link {
    padding: 45px 85px;
    font-size: 20px;
    line-height: calc(24/20);
  }
}



