.overlay {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  background: rgba(27, 26, 27, 0.7);
  visibility: hidden;
  align-items: center;
  justify-content: center;
  padding: 10px;
  transform: scale(0.2);
  
  transition: opacity .5s ease-in-out, 
    transform .5s ease-in-out;
}

.overlay_active {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}