* {
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  color: #ffffff;
  background-color: #1b1a1b;
}

.wrapper {
  margin: 0 auto;
  width: 1180px;
}

.section {
  margin-bottom: 100px;
}

.section:first-of-type {
  margin-top: 146px;
}

.subtitle {
  margin-top: 0;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}



