:root {
  --main-color: #ffffff;
  --second-color: #000000;
  --one-color: #1C1A1A;
  --five-color: #1b1a1b;
  --pink-dark-color: #440F51;
  --pink-color: #6C0287;
  --pink-light-color: #CD06FF;

  --six-color: #640AA3;
  --seven-color: #840AA3;
  --c-color: #EADEED;
}

.advantage {
  --padding-bottom: 70px;
}