:root {
  --main-color: #ffffff;
  --second-color: #000000;

  --main-bg-color: #1b1a1b;

  --dark-color: #1c1a1a;

  --purple-dark-color: #440f51;
  --purple-color: #6c0287;
  --pink-color: #cd06ff;

  --purple-light-color: #640aa3;
  --pink-dark-color: #840aa3;
  
  --gray-light-color: #eadeed;
}

.advantage {
  --padding-bottom: 70px;
}
.container,
.hero__container {
  --max-width: 1180px;
  --padding: 30px;
}

.about-us__list {
  --width: 600px;
  --height: 596px;
}

@media (max-width: 1240px) {
  .about-us__list {
    --width: 420.46px;
    --height: 417.66px;
  }
  .container,
  .hero__container {
    --max-width: 904px;
    --padding: 60px;
  }

  .advantage {
    --padding-bottom: 53px;
  }
}

@media (max-width: 940px) {
  .about-us__list {
    --width: 382px;
    --height: 380px;
  }

  .container,
  .hero__container {
    --max-width: 688px;
    --padding: 40px;
  }

  .advantage {
    --padding-bottom: 0;
  }
}

@media (max-width: 640px) {

  .about-us__list {
    --width: 280px;
    --height: 280px;
  }
  .container,
  .hero__container {
    --max-width: 280px;
    --padding: 20px;
  }
}