

.vibes-description__text {
  margin: 0 auto;
  max-width: 1000px;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 24px;
  line-height: calc(36/24);
  text-align: center;
  color: var(--main-color, #ffffff);
}
