.header {
  padding-top: 30px;
  padding-bottom: 20px;
}

.header__container {
  display: grid;
  grid-template-columns: 120px 1fr 280px;
  column-gap: 96px;
  row-gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  flex-basis: 587px;
  gap: 40px;
}

.navigation__item {
  font-family: 'Arial';
  font-weight: 400;
  font-size: 22px;
  line-height: 2.273;
  text-transform: uppercase;
}

.navigation__link {
  border-bottom: 3px solid transparent;
  outline: none;

  transition: 
    color 0.3s ease-in-out, 
    border-bottom-color 0.3s ease-in-out;
}

.navigation__link:hover {
  color: var(--pink-color, #cd06ff);
}

.navigation__link:focus {
  border-bottom-color: var(--main-color, #ffffff);
}

.navigation__link:active {
  color: var(--purple-light-color, #640aa3);
}

.header__button {
  padding: 9px 10px;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.364;
  color: var(--main-color, #ffffff);
  text-transform: uppercase;
  background-color: var(--main-bg-color, #1b1a1b);
  outline: none;
  border: 3px solid var(--pink-color, #cd06ff);
  border-radius: 10px;

  transition: 
  background-color 0.3s ease-in-out, 
  bborder-color 0.3s ease-in-out;
}

.header__button:hover {
  background-color: var(--purple-color, #6c0287);
  border-color: var(--purple-color, #6c0287);
}

.header__button:focus {
  background-color: var(--purple-color, #6c0287);
}

.header__button:active {
  background-color: var(--purple-light-color, #640aa3);
  border-color: var(--second-color, #000000);
}

.header__link {
  grid-column: 1 / -1;
  position: relative;
  padding-left: 40px;
  font-family: 'Arial';
  font-weight: 700;
  font-size: 22px;
  line-height: calc(28/22);
  color: var(--main-color, #ffffff);
}

.header__link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 44%;
  transform: translateY(-50%);
  width: 30px;
  height: 28px;
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='16' viewBox='0 0 31 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 7.29289C-0.0976315 7.68342 -0.0976315 8.31658 0.292892 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928932C7.68054 0.538408 7.04738 0.538408 6.65685 0.928932L0.292892 7.29289ZM31 7L1 7V9L31 9V7Z' fill='white'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}




